<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="margin-bottom: 20px;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "covers/team2.jpg", alt: "logo" %>
      <div class="carousel-caption">
        <p>PLANETSは、青山、さいたま市(大宮)をメインに東京都近辺で活動する、社会人の草野球チームです。</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "covers/team1.jpg", alt: "logo" %>
      <div class="carousel-caption">
        <p>土日に活動していて、春秋は青山の野球大会に出場しています。チームレベルは弱め。</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "covers/marusan.jpg", alt: "logo" %>
      <div class="carousel-caption">
        <p>モットーは、ベンチにいても貢献選手がＭＶＰ★繋ぎの野球で、皆平等の、楽しい野球チームです。</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "covers/team3.jpg", alt: "logo" %>
      <div class="carousel-caption">
        <p>随時、対戦相手を募集中。大宮のグランドであれば、比較的予約しやすいです。是非お声かけください!</p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>