<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">リンク</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4" align="center" style="margin: 5px 0;">
          <%= link_to fa_icon("facebook-square") + " Planets写真集",
            "https://www.facebook.com/enjoy.planets.alpinist.group?ref=bookmarks",
            class: "btn btn-primary", :target=>["_blank"] %>
        </div>
        <div class="col-md-4" align="center" style="margin: 5px 0;">
          <%= link_to fa_icon("facebook-square") + " Planets登山部",
            "https://www.facebook.com/enjoy.planets?ref=bookmarks",
            class: "btn btn-primary", :target=>["_blank"] %>
        </div>
        <div class="col-md-4" align="center" style="margin: 5px 0;">
          <%= link_to "問い合わせ", :new_inquiry, class: "btn btn-primary", role: "button" %>
        </div>
      </div>
    </div>
  </div>
</div>