<%
  new_form_options = {
    url: [:update_image, @user],
    html: { class: "form-horizontal", role: 'form' }
  }

  @page_title_icon = 'pencil'
  @page_title_text = "#{current_user.display_name}の編集"

  @breadcrumbs = [
    [ 'home', 'トップ', :root ],
    [ 'users', 'ユーザー一覧', :users ],
    [ 'user', "#{current_user.display_name}の詳細", current_user ]]
%>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong># <%= @user.number %></strong>
        <%= current_user.display_name %>の編集
      </div>
      <div class="panel-body">
        <div id="generic-form">
          <%= form_for @user_form, new_form_options do |f| %>
            <%= render 'form', f: f %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>