<%
  @page_title_icon = 'pencil'
  @page_title_text = "#{current_user.display_name}のパスワード編集"

  @breadcrumbs = [
    [ 'home', 'トップ', :root ],
    [ 'users', 'ユーザー一覧', :users ],
    [ 'user', "#{current_user.display_name}の詳細", current_user ]]

  form_options = { url: [ :update_password, current_user ],
      html: { class: "form-horizontal", role: 'form' }}
%>

<div class="panel panel-default">
  <div class="panel-heading">パスワード編集</div>
  <div class="panel-body">
    <%= form_for @change_password_form, form_options do |f| %>
      <%= markup do |m|
        p = HorizontalFormPresenter.new(f, self)
        p.with_options(required: true) do |q|
          m << q.password_field_block(:current_password, '現在のパスワード', columns: 10)
          m << q.password_field_block(:new_password, '新しいパスワード', columns: 10)
          m << q.password_field_block(:new_password_confirmation, '新しいパスワード確認', columns: 10)
          m << p.submit_button(label_text: "決定")
        end
      end %>
    <% end %>
  </div>
</div>