<%
  form_options = {
    url: :games,
    method: :post,
    html: { class: "form-horizontal", role: 'form' }
  }
  seasons = Season.all
  num = Array(0..99)
  radios = [{value: 0, key: "勝"},{value: 1, key: "負"},{value: 2, key: "分"}]
%>

<div class="panel panel-default">
  <div class="panel-heading">試合結果入力</div>
  <div class="panel-body">
    <%= form_for @game, form_options do |f| %>
      <%= markup do |m|
        p = HorizontalFormPresenter.new(f, self)
        p.with_options(required: false) do |q|
          m << p.select_box(:season_id, 'シーズン', seasons, :year, columns: 10)
          m << q.text_field_block(:name, '試合名', columns: 10)
          m << q.text_field_block(:played_at, '試合日', columns: 10, class: "datepicker")
          m << q.text_field_block(:total_result, '試合結果', columns: 10)
          m << q.radio_box_block(:winning, "勝敗", radios, columns: 10)
          m << q.text_area_block(:description, "コメント", columns: 10)
        end
        m << p.submit_button
      end %>
    <% end %>
  </div>
</div>