<%= render "games/header" %>
<%
  new_form_options = {
    url: :games,
    method: :post,
    html: { class: "form-horizontal", role: 'form' }
  }
%>

<div class="panel panel-default">
  <div class="panel-heading">試合結果編集</div>
  <div class="panel-body">
    <%= form_for @game, new_form_options do |f| %>
      <%= render "games/form", f: f, game: @game %>
    <% end %>
  </div>
</div>