<%
  @page_title_icon = 'pencil'
  @page_title_text = "#{current_user.display_name}のメールアドレス追加"

  @breadcrumbs = [
    [ 'home', 'トップ', :root ],
    [ 'users', 'ユーザー一覧', :users ],
    [ 'user', "#{current_user.display_name}の詳細", current_user ]]

  form_options = { url: :new_email,
        html: { class: "form-horizontal", role: 'form' }}

  new_form_options = { url: :new_email, html: { class: "", role: 'form' }}
%>


<% if current_user %>
  <div class="panel panel-default">
    <%= render 'add', form_options: form_options %>
  </div>
<% else %>
  <div class="panel panel-default session-form">
    <%= render 'new', new_form_options: new_form_options %>
  </div>
<% end %>