<% if current_user %>
  <div class="panel panel-default">
    <div class="panel-heading">Wellcome to Planets Web Site!</div>
    <div class="panel-body">
      <p>メールを送りました</p>
    </div>
  </div>
<% else %>
  <div class="panel panel-default session-form">
    <div class="panel-heading">Wellcome to Planets Web Site!</div>
    <div class="panel-body">
      <p>メールを送りました</p>
    </div>
  </div>
<% end %>