<%
  @page_title_icon = 'pencil'
  @page_title_text = "掲示板作成"

  @breadcrumbs = [
    [ 'home', 'トップ', :root ],
    [ 'book', '掲示板一覧', :posts ]]
%>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">掲示板作成</div>
      <div class="panel-body">
        <%= form_for @post, method: :post do |f| %>
          <%= render "form", f: f %>
        <% end %>
      </div>
    </div>
  </div>
</div>