<%
  select_array = User.all.map{|u| [ u.display_name, u.id ]}
  selected_array = @plan_detail.user_plan_detail_links.map{|u| [ u.user.display_name, u.user.id ]}
  select_array = select_array - selected_array
  a_array = @plan_detail.user_plan_detail_links.where(status: 1).map{|u| [ u.user.display_name, u.user.id ]}
  b_array = @plan_detail.user_plan_detail_links.where(status: 2).map{|u| [ u.user.display_name, u.user.id ]}
  c_array = @plan_detail.user_plan_detail_links.where(status: 3).map{|u| [ u.user.display_name, u.user.id ]}

  @javascript = 'AttendanceChange'
  @page_title_icon = 'send'
  @page_title_text = "#{@plan.starts_on.strftime("%Y年%m月%d日")}の予定編集"

  @breadcrumbs = [
      [ 'home', 'トップ', :root ],
      [ 'table', 'スケジュール', schedule_path(id: params[:schedule_id])],
      [ 'send', "#{@plan.starts_on.strftime('%Y年%m月%d日')}のスケジュール", schedule_path(@plan.starts_on.strftime('%Y-%m-%d'))],
      [ 'send', "#{@plan.starts_on.strftime('%Y年%m月%d日')}のスケジュールの予定詳細", schedule_plan_detail_path(schedule_id: @plan.starts_on, id: @plan_detail.id)]]

  form_options = { url: schedule_plan_detail_path(id: @plan_detail.id, schedule_id: @plan.id) }
  required = true
%>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= @plan.starts_on.strftime("%Y年%m月%d日") %>のスケジュール
  </div>
  <div class="panel-body">
    <%= form_for @plan_detail, form_options do |f| %>
      <%= render 'form', f: f, required: required %>
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    メンバー
  </div>
  <%= render 'member',
    a_array: a_array, b_array: b_array, c_array: c_array, select_array: select_array %>
</div>