<div class="panel panel-default">
  <div class="panel-heading">Wellcome to Planets Web Site!</div>
  <div class="panel-body">
    <%= form_for @form, url: :forgot_send_mail_emails, html: { class: "form-signin", role: 'form' } do |f| %>
      <%= markup do |m|
        p = HorizontalFormPresenter.new(f, self)
        p.with_options(required: true) do |q|
          m << q.email_field_block(:email, 'メールアドレス', columns: 10, new_user: true)
          m << p.submit_button(label_text: "送信")
        end
      end %>
    <% end %>
  </div>
</div>