<%
  @page_title_icon = 'question_circle'
  @page_title_text = "問い合わせ完了"

  @breadcrumbs = [[ 'home', 'トップ', :root ]]
%>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">問い合わせ完了しました。</div>
      <div class="panel-body">
        <p>ありがとうございました。</p>
        <p>返信が来るまでしばらくお待ちください。</p>
      </div>
    </div>
  </div>
</div>