/* common */

ul.error-message {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
  clear: both;
  li {
    color: #b94a48;
  }
}

.has-feedback {
  display: inline;
}

.table-responsive {
  overflow: scroll;
  select { width: 50px; }
}

select.name_pitcher_selecter,
select.name_batter_selecter { width: 200px; }

.helper_pitcher_form_field,
.helper_batter_form_field {
  margin-top: 10px;
  width: 200px;
}

.btn-danger {
  margin-left: 10px;
}

.select-year {
  width: 100px;
  margin-bottom: 20px;
}

.user-info {
  min-width: 100px;
  height: 100px;
  overflow: scroll;
}

.user-img {
  min-width: 100px;
  height: 100px;
  overflow: hidden;
  padding: 0;
  img {
    width: 100px;
    height: 100px;
  }
}

.user-link {
  color: #000;
}
.user-link:hover {
  color: #000;
}

.jquery-title {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #eeeded;
  -webkit-box-shadow: inset 1px 1px 1px rgba(9,2,4,.16);
  -moz-box-shadow: inset 1px 1px 1px rgba(9,2,4,.16);
  box-shadow: inset 1px 1px 1px rgba(9,2,4,.16);
  margin:0 0 14px;
  vertical-align: top;
  font-size: 13px;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  display: inline-block;
  height:30px;
  line-height: 30px;
  padding: 0 10px;
  margin: 10px 0;
  width: 100%;
}

.jquery-ui-slider {
  margin: 20px 0;
}

.check_or_radio {
  margin: 15px 0;
}

.breaking-select {
  display: inline-block;
  width: auto;
}

.new-breaking-ball-form {
  width: 200px;
  display: none;
}

.has-field-error {
  border: 1px solid #a94442;
}

.error-message-span {
  color: #a94442;
}

.new-selecting-field,
.new-selecting-field-p {
  width: 150px;
  display: inline-block;
}

.new-selecting-form-d,
.new-selecting-form-p {
  display: none;
}

.member-list {
  display: inline-block;
  list-style-type: none;
  padding-left: 20px;
}

table.schedule {
  width: 100%;
  th.sat, td.sat { background: #3399FF; }
  th.sun, td.sun { background: #FF82B2;}
  th { text-align: center; }
  td {
    height: 50px;
    max-width: 100px;
    min-width: 50px;
    overflow: scroll;
  }
  .schedule_count { color: red; }
}
.goodAddOrDeleteButton,
.goodCountButton { cursor: pointer; }
.list-none { list-style-type: none; }
b.bold-name { margin-left: 10px; }
p.trash-comment { margin: 0; text-align: right; }
.select-button { margin: 10px 0; }
div.left-margin { margin-left: 10px; }
a.link-bottom { margin-bottom: 10px; }
div.margin-top { margin-top: 10px; }
.margin-bottom { margin-bottom: 10px; }
.cover-wrapper { width: 100%; margin-bottom: 20px; }
.padding0 { padding: 0; }