/* layout */

html { 
  height: 100%; 
/*  background: url(image_path('re_003.jpg')) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

body {
  padding-top: 50px;
  background-color: #fafafa;
  font-size: 13px;
  background: url(image_path('re_003.jpg')) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrapper {
  padding-left: 40px;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 240px;
  width: 40px;
  height: 100%;
  margin-left: -240px;
  overflow-y: auto;
  background: #edf0f1;
  transition: all 0.5s ease;
}

#page-content-wrapper {
  width: 100%;
  padding: 0px 15px 15px 15px;
}

#wrapper.toggled {
  padding-left: 240px;
  #sidebar-wrapper {
    width: 240px;
  }
  #page-content-wrapper {
    position: absolute;
    margin-right: -240px;
  }
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 240px;
  }
  
  #sidebar-wrapper {
    width: 240px;
  }
  
  #page-content-wrapper {
    padding: 0 20px 20px 20px;
  }
  
  #wrapper.toggled {
    padding-left: 40px;
    #sidebar-wrapper {
      width: 40px;
    }
    #page-content-wrapper {
      position: relative;
      margin-right: 0;
    }
  }
}