/* Slider.css.scss */

.jquery-ui-slider-value {
  border: 0;
  color: red !important;
  font-weight: bold;
  background-color: transparent;
  margin: 5px;
}
.jquery-ui-slider {
  margin: 0 10px;
  max-width: 300px;
}